body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background-color: aquamarine;
}

#add-btn {
  background-color: lavender 
}

.jumbotron {
    background:#4dc0f0;
    height:250px;
}
.jumbotron img {
    width:50%;
    float:left;
    max-height:160px;
}
